# ─── Xcode ────────────────────────────────────────────────────────────────────
*.xcuserstate
xcuserdata/
DerivedData/
build/
*.pbxuser
*.perspectivev3

# ─── macOS ────────────────────────────────────────────────────────────────────
.DS_Store

# ─── SwiftPM ──────────────────────────────────────────────────────────────────
.build/

